  <div class="col-md-3 col-sm-14 col-xs-14 my-col text-center">
  <div class="card text-white bg-dark mb-3 text-center">
      <div class="card-body">
          <h5 class="card-title"><%=  post.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= post.summary %></h6>
          <%= link_to "Go to it", post_path(post), class: "btn btn-outline-primary" %>
        <div class="card-footer">
          <small class="text-muted">Created by: <%= post.user.email %></small>
          <small class="text-muted">Created at: <time><%= post.created_at.to_date.strftime("%e %B, %Y") %></time></small>
        </div>
      </div>
    </div>
  </div>