<% if user_signed_in? %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mynewpost">
    New post
  </button><br><br>

  <%= form_for(@post, remote: true) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="modal fade" id="mynewpost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <%= f.label :image %>
              <%= f.file_field :image %>
            </div>
            <div class="field">
              <%= f.label :title %><br>
              <%= f.text_field :title, class: 'form-control post_title' %>
            </div>
            <div class="field">
              <%= f.label :summary %>
              <%= f.text_area :summary, class: 'form-control post_summary' %>
            </div>
            <div class="field">
              <%= f.label :body %>
              <%= f.text_area :body, class: 'form-control post_body' %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="mynewpostclose">Go back</button>
            <%= submit_tag "Create", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class='msgsignin'>
  <p>To create a post, first <%= link_to 'Sign In', new_user_session_path, class: "link" %> or <%= link_to 'Sign Up', new_user_registration_path, class: "link" %> !</p>
  </div>
  <br>
<% end %>

  <div class="forposts" id="container_posts">
    <%= render @posts %>
  </div>
