<!DOCTYPE html>
<html>
  <head>
    <title>Strgsh - Part Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header id="main_navigation" class="clearfix">
      <a href="/" class="name">Strgsh</a>
      <nav>
        <%= link_to "Forum", posts_path %>
        <% if user_signed_in? %>
          <%= current_user.email %> <i class="fas fa-user"></i>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: {confirm: 'Are you sure?'} %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path %>
          <i class="fas fa-user"></i>
          <%= link_to 'Sign Up', new_user_registration_path %>
        <% end %>
      </nav>
    </header>

<% if notice || alert %>
    <div id="posts_wrapper" class="skinny_wrapper">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
<% end %>
    <%= yield %>

    <footer id="main_footer">
    <p class="copyright">&copy;2019 strgsh</p>
    <nav>
      <a href="https://github.com/DrStrgsh/GO" target="_blank"><i class="fab fa-github"></i></a>
    </nav>
  </footer>
  </body>
</html>
